

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Branding */

h1.site-title a {
	display: inline-block;
	background:no-repeat center/80% url('../img/south-of-urban.jpg') ;
	height:90px;
	width:390px;
	text-indent: -9999px;
	
}

.footer h5.site-title a {
	display: inline-block;
	background:no-repeat center/50% url('../img/south-of-urban.jpg') ;
	height:90px;
	width:390px;
	text-indent: -9999px;
	
}


#hero-carousel .item.active {
 
    height: 100%;
}


.centered {
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }











